In [313]:
import pandas as pd
df= pd.read_csv("./personalfinance_clean.csv")
df=df[['selftext','score']]
df=df.dropna()

In [314]:
emo['emotion'].unique()

array(['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness',
       'surprise', 'trust'], dtype=object)

In [315]:
import numpy as np
emo = pd.read_csv('./EMOTION.csv')
emo.columns=['word','emotion','score']
emo=emo[emo['score']>=0.5]
#len(emo)1606
#len(emo[emo['emotion']=='anger'])278
#len(emo[emo['emotion']=='fear'])341
#len(emo[emo['emotion']=='sadness'])249
#len(emo[emo['emotion']=='surprise'])104
#len(emo[emo['emotion']=='anticipation'])53
#len(emo[emo['emotion']=='joy'])283
#len(emo[emo['emotion']=='trust'])118
#len(emo[emo['emotion']=='disgust'])180

emo=emo.reset_index()
emo.columns
del emo['index']
emo['emotion'].unique()

array(['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness',
       'surprise', 'trust'], dtype=object)

In [316]:
len(emo[emo['emotion']=='anger'])

755

In [317]:
def reset(x):
    x = x.reset_index()
    return x

for x in [anger,fear,sadness,surprise,anticipation,joy,trust,disgust]:
    x=reset(x)

In [318]:
anger_count=0


df[['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness',
       'surprise', 'trust']]=0

df

,selftext,score,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,hi guy couple year ago changed gear career res...,1,0,0,0,0,0,0,0,0
1,read really hurt credit score opened checking ...,0,0,0,0,0,0,0,0,0
2,opened roth ira want max contribution plan all...,3,0,0,0,0,0,0,0,0
3,hello quick question billing address work curr...,0,0,0,0,0,0,0,0,0
4,employed jan jul low deductible plan lost job ...,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
23238,many year quicken shifted subscription model f...,1,0,0,0,0,0,0,0,0
23239,hello i old k account good life changing amoun...,1,0,0,0,0,0,0,0,0
23240,ive learning roth ira investing recently learn...,1,0,0,0,0,0,0,0,0
23241,long time reader first time home buyer credit ...,1,0,0,0,0,0,0,0,0
23242,currently ltd insurance via employer cover pay...,1,0,0,0,0,0,0,0,0

In [319]:
for i in range(len(emo)):
    index=df[df['selftext'].str.contains(emo.iloc[i]['word'])].index
    for j in range(len(index)):
        ind=index[j]
        score = emo.iloc[i]['score']
        column_index=emo.iloc[i]['emotion']
        original=df.at[ind,column_index]
        df.at[ind,column_index]=original+ score *100

In [320]:
df

,selftext,score,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,hi guy couple year ago changed gear career res...,1,57,292,152,118,277,50,118,58
1,read really hurt credit score opened checking ...,0,260,159,63,350,53,177,77,298
2,opened roth ira want max contribution plan all...,3,0,112,89,59,78,50,0,0
3,hello quick question billing address work curr...,0,139,76,130,204,132,180,52,0
4,employed jan jul low deductible plan lost job ...,1,157,56,65,70,0,62,0,136
...,...,...,...,...,...,...,...,...,...,...
23238,many year quicken shifted subscription model f...,1,0,114,123,94,162,0,0,157
23239,hello i old k account good life changing amoun...,1,293,164,186,201,185,124,0,113
23240,ive learning roth ira investing recently learn...,1,145,56,89,110,78,50,0,304
23241,long time reader first time home buyer credit ...,1,393,874,546,378,811,327,0,1902
23242,currently ltd insurance via employer cover pay...,1,91,101,136,62,108,123,0,292

In [323]:
# get the column name of max values in every row
df['label']=df[['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness',
       'surprise', 'trust']].idxmax(axis="columns")

,selftext,score,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,label
0,hi guy couple year ago changed gear career res...,1,57,292,152,118,277,50,118,58,anticipation
1,read really hurt credit score opened checking ...,0,260,159,63,350,53,177,77,298,fear
2,opened roth ira want max contribution plan all...,3,0,112,89,59,78,50,0,0,anticipation
3,hello quick question billing address work curr...,0,139,76,130,204,132,180,52,0,fear
4,employed jan jul low deductible plan lost job ...,1,157,56,65,70,0,62,0,136,anger
...,...,...,...,...,...,...,...,...,...,...,...
23238,many year quicken shifted subscription model f...,1,0,114,123,94,162,0,0,157,joy
23239,hello i old k account good life changing amoun...,1,293,164,186,201,185,124,0,113,anger
23240,ive learning roth ira investing recently learn...,1,145,56,89,110,78,50,0,304,trust
23241,long time reader first time home buyer credit ...,1,393,874,546,378,811,327,0,1902,trust
23242,currently ltd insurance via employer cover pay...,1,91,101,136,62,108,123,0,292,trust

In [341]:
#remove stopwords
import nltk
from nltk.corpus import stopwords
#nltk.download("stopwords") #uncomment it when run it for the first time
stop_words = set(stopwords.words("english"))

def remove_stopwords(text):
    text = " ".join([word for word in text.split() if word not in stop_words])
    return text

stop_words.update({'would','k','im','could','also',
                   'amp','much','one','like',
                   'since','etc','got','always',
                   'know','wa','thing','really',
                   'feel','find','even','go','would','well'
                  })
df['selftext']=df['selftext'].apply(lambda x: remove_stopwords(x))

In [342]:
anticipation_df=df[df['label']=='anticipation']
anticipation_df

,selftext,score,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,label
0,hi guy couple year ago changed gear career res...,1,57,292,152,118,277,50,118,58,anticipation
2,opened roth ira want max contribution plan all...,3,0,112,89,59,78,50,0,0,anticipation
5,purchased airline ticket back november upcomin...,0,163,647,0,220,341,59,100,405,anticipation
7,score current apr gonna get lower planning put...,1,0,108,0,0,0,0,0,61,anticipation
11,hello back september started refinance process...,1,193,552,268,351,72,233,173,117,anticipation
...,...,...,...,...,...,...,...,...,...,...,...
23221,obvious risk market loss issue aware using rot...,1,158,360,151,322,127,225,0,162,anticipation
23222,live nj work ny state tax yesterday still owin...,1,0,237,0,62,150,115,0,51,anticipation
23223,stock high risk never went super crazy today t...,1,118,335,65,218,167,236,0,313,anticipation
23227,cp notice today tried looking seemed alot peop...,1,0,120,56,0,0,0,0,61,anticipation
23230,car falling apart need holdover car year ready...,1,0,163,114,60,158,0,0,51,anticipation

In [344]:
#n-grams for anticipation
from nltk.util import ngrams
import itertools
import collections
def count_2gram(text):
    all_words = list(itertools.chain(*text.str.split()))
    es2grams = ngrams(all_words, 2)
    counts = collections.Counter(es2grams)
    count_df = pd.DataFrame(counts.most_common(100),
                            columns=['words', 'count'])
    dictionary2 = [' '.join(tup) for tup in count_df.words]
    count_df.words=dictionary2

    return count_df
count_df2=count_2gram(anticipation_df['selftext'])
count_df2.head(20)

                 words  count
0             roth ira   1177
1         student loan    530
2          credit card    487
3       emergency fund    476
4       saving account    406
5            next year    364
6      traditional ira    356
7       thanks advance    346
8           index fund    310
9             year old    296
10           last year    273
11       interest rate    267
12          make sense    252
13        capital gain    249
14           long term    239
15           full time    237
16             pay tax    211
17  retirement account    201
18        credit score    200
19   brokerage account    192

In [345]:
from sklearn.feature_extraction.text import CountVectorizer
#analyzer=â€˜char_wbâ€™
vec=CountVectorizer(min_df=0.01,stop_words='english',ngram_range=(2,3))
counts=vec.fit_transform(anticipation_df['selftext'])
counts=counts.toarray()
count_df1=pd.DataFrame(counts,columns=vec.get_feature_names())
count_df1

,account year,advance help,backdoor roth,bank account,best option,best way,brokerage account,buy house,buying house,capital gain,...,want buy,want make,want start,work time,working time,year ago,year old,year time,year year,yield saving
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4591,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4592,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4593,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4594,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [346]:
from sklearn.decomposition import NMF

model1=NMF(n_components=4,init="random",random_state=0)
model1.fit(count_df1)
#model1.components_

NMF(init='random', n_components=4, random_state=0)

In [347]:
import numpy as np
def top_words(X, model, component, num_words):
    """
    Extract the top words from the specified component 
    for a topic model trained on data. 
    X: a term-document matrix, assumed to be a pd.DataFrame
    model: a sklearn model with a components_ attribute, e.g. NMF
    component: the desired component, specified as an integer. 
        Must be less than than the total number of components in model
    num_words: the number of words to return.
    """
    orders = np.argsort(model.components_, axis = 1)
    important_words = np.array(X.columns)[orders]
    return important_words[component][-num_words:]

In [349]:
topic1=pd.DataFrame({'Topic 0':top_words(count_df1, model1, 0, 10),
                   'Topic 1':top_words(count_df1, model1, 1, 10),
                   'Topic 2':top_words(count_df1, model1, 2, 10),
                     'Topic 3':top_words(count_df1, model1, 3, 10),
                   })
topic1

,Topic 0,Topic 1,Topic 2,Topic 3
0,brokerage account,thanks advance,tax year,year old
1,income limit,year old,ira account,car loan
2,contribute roth,gain tax,pay tax,student loan debt
3,max roth ira,checking account,tax money,loan debt
4,money roth,brokerage account,ira contribution,emergency fund
5,roth ira contribution,long term,post tax,credit score
6,max roth,capital gain,ira roth,credit card debt
7,ira contribution,index fund,pre tax,card debt
8,backdoor roth,emergency fund,backdoor roth,credit card
9,roth ira,saving account,traditional ira,student loan

Topic 0: social security/pension \
Topic 1: social media/life \
Topic 2: post/social medium/ins/facebook

In [350]:
fear_df=df[df['label']=='fear']
fear_df

#analyzer=â€˜char_wbâ€™
vec=CountVectorizer(min_df=0.01,stop_words='english',ngram_range=(2,3))
counts=vec.fit_transform(fear_df['selftext'])
counts=counts.toarray()
count_df1=pd.DataFrame(counts,columns=vec.get_feature_names())
count_df1


from sklearn.decomposition import NMF

model1=NMF(n_components=4,init="random",random_state=0)
model1.fit(count_df1)
#model1.components_

import numpy as np
def top_words(X, model, component, num_words):
    """
    Extract the top words from the specified component 
    for a topic model trained on data. 
    X: a term-document matrix, assumed to be a pd.DataFrame
    model: a sklearn model with a components_ attribute, e.g. NMF
    component: the desired component, specified as an integer. 
        Must be less than than the total number of components in model
    num_words: the number of words to return.
    """
    orders = np.argsort(model.components_, axis = 1)
    important_words = np.array(X.columns)[orders]
    return important_words[component][-num_words:]


topic2=pd.DataFrame({'Topic 0':top_words(count_df1, model1, 0, 10),
                   'Topic 1':top_words(count_df1, model1, 1, 10),
                   'Topic 2':top_words(count_df1, model1, 2, 10),
                    'Topic 3':top_words(count_df1, model1, 3, 10),
                   })
topic2

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/decomposition/_nmf.py:1091: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  " improve convergence." % max_iter, ConvergenceWarning)

            Topic 0            Topic 1            Topic 2            Topic 3
0         month ago           pay loan     employer match        car payment
1         pay month          end month            pay tax           car loan
2         dont want       paying month  roth contribution    month emergency
3     payment month           loan car  brokerage account   checking account
4       paying debt    minimum payment   ira contribution          long term
5          year ago    monthly payment    contribute roth         index fund
6  credit card debt  student loan debt        ira account  brokerage account
7         card debt          loan debt      backdoor roth           year old
8      credit score           car loan    traditional ira     saving account
9       credit card       student loan           roth ira     emergency fund

In [351]:
#n-grams for fear
from nltk.util import ngrams
import itertools
import collections
def count_2gram(text):
    all_words = list(itertools.chain(*text.str.split()))
    es2grams = ngrams(all_words, 2)
    counts = collections.Counter(es2grams)
    count_df = pd.DataFrame(counts.most_common(100),
                            columns=['words', 'count'])
    dictionary2 = [' '.join(tup) for tup in count_df.words]
    count_df.words=dictionary2

    return count_df
count_df2=count_2gram(fear_df['selftext'])
count_df2.head(20)

              words  count
0          roth ira    356
1       credit card    225
2      student loan    190
3          year old    112
4    emergency fund    111
5      credit score    109
6         last year    105
7     interest rate     90
8    saving account     83
9          year ago     77
10        next year     73
11      every month     61
12  traditional ira     61
13     bank account     60
14        long term     58
15  monthly payment     57
16        full time     56
17         car loan     52
18          new job     52
19        month ago     50

In [353]:
sadness_df=df[df['label']=='sadness']

#n-grams for sadness
from nltk.util import ngrams
import itertools
import collections
def count_2gram(text):
    all_words = list(itertools.chain(*text.str.split()))
    es2grams = ngrams(all_words, 2)
    counts = collections.Counter(es2grams)
    count_df = pd.DataFrame(counts.most_common(100),
                            columns=['words', 'count'])
    dictionary2 = [' '.join(tup) for tup in count_df.words]
    count_df.words=dictionary2

    return count_df
count_df2=count_2gram(sadness_df['selftext'])
count_df2.head(20)

                words  count
0         credit card    199
1            roth ira    126
2        credit score     96
3        student loan     65
4           last year     58
5            year ago     52
6          tax return     46
7          first time     44
8            year old     40
9           next year     39
10      credit report     39
11      interest rate     37
12  missing something     36
13        every month     36
14          full time     33
15       closing cost     33
16  collection agency     32
17    monthly payment     32
18            pay tax     32
19       bank account     32